.cuerpo{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
}
img{
    object-fit: contain;
    width: 100%;;
}
.imagen{
    object-fit: contain;
    width: 100%;;
}
footer{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
}